@import "compass/css3/gradient"

$green: #83A603
$lighter-green: #A3BF3B
$brown: #736345
$tan: #BFB195
$off-white: #D8D8D3

$font-size= 18px
$line-height= $font-size * 1.4

=gradient-with-image($img)
  +radial_gradient(color-stops($lighter-green, $green 500px), center center, url($img))
  background-repeat: no-repeat

body 
  +radial-gradient(color-stops($lighter-green, $green 500px), center center)

a
  &:active, &:visited, &:link
    color: $green - #444
  &:hover
    color: $lighter-green - #444

.card
  text-align: left
  color: $off-white
  font-size: $font-size
  line-height: $line-height
  width: 30%
  height: 90%
  +radial-gradient(color-stops($lighter-green, $green 500px), center center)
  
  img
    margin-bottom: $line-height
    
  p
    margin-top: $line-height / 2
  
  &:nth-child(1)
    +gradient-with-image("/images/philosophy_bg/0.png")
  &:nth-child(2)
    +gradient-with-image("/images/philosophy_bg/1.png")
    padding-top: 5%
  &:nth-child(3)
    +gradient-with-image("/images/philosophy_bg/2.png")
    padding-top: 19%
  &:nth-child(4)
    +gradient-with-image("/images/philosophy_bg/3.png")
  &:nth-child(5)
    +gradient-with-image("/images/philosophy_bg/4.png")
  &:nth-child(6)
    +gradient-with-image("/images/philosophy_bg/5.png")
  &:nth-child(7)
    +gradient-with-image("/images/philosophy_bg/6.png")
  &:nth-child(8)
    +gradient-with-image("/images/philosophy_bg/7.png")

  .right
    padding-left: 55%
    padding-right: 5%
    padding-top: 5%
    padding-bottom: 5%
  .left
    padding-left: 5%
    padding-right: 55%
    padding-top: 5%
    padding-bottom: 5%
    
  blockquote
    padding-bottom: 1em
    font-size: 0.9em
    line-height: font-size / $line-height
    width: 50%
    &.large
      font-size: 1.2em
      line-height: font-size / $line-height
    &.left
      float: left
      margin-right: 2em
      padding-right: 0
      padding-left: 0
    &.right
      float: right
      margin-left: 2em
      padding-left: 0
      padding-right: 0
    .attribution
      display: block
      text-align: right
      
      &:before
        content: "—"
    
.smallscreen
  .card
    blockquote
      padding-left: 0
      padding-right: 0
      width: 100%
    &:nth-child(1)
      +gradient-with-image("/images/philosophy_bg/iphone/0.png")
    &:nth-child(2)
      +gradient-with-image("/images/philosophy_bg/iphone/1.png")
      padding-top: 0
    &:nth-child(3)
      +gradient-with-image("/images/philosophy_bg/iphone/2.png")
      padding-top: 0
    &:nth-child(4)
      +gradient-with-image("/images/philosophy_bg/iphone/3.png")
    &:nth-child(5)
      +gradient-with-image("/images/philosophy_bg/iphone/4.png")
    &:nth-child(6)
      +gradient-with-image("/images/philosophy_bg/iphone/5.png")
    &:nth-child(7)
      +gradient-with-image("/images/philosophy_bg/iphone/6.png")
    &:nth-child(8)
      +gradient-with-image("/images/philosophy_bg/iphone/7.png")
