/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"
@import "blueprint/grid"
@import "blueprint/typography"
@import "blueprint/utilities"

$blueprint-grid-columns= 18
$blueprint-grid-width= 40px
$blueprint-grid-margin= 10px

$blueprint-font-size= 15px
$blueprint-font-family= "Droid Serif", serif

$vertical-grid-unit= 10px
$basic-line-height= 1.64em

$full-image-width= 690px
$full-image-height= 517px
$thumb-image-width= 85px
$thumb-image-height= 85px

+blueprint-typography

#container
  margin-left= 15 * $vertical-grid-unit
  margin-top= 5 * $vertical-grid-unit
  overflow: hidden
  width= $blueprint-container-size
  a
    &:link, &:active, &:visited
      color: #666
      text-decoration: none
    &:hover
      color: #333
  #identifier
    +column(4)
    position: fixed
    left= 15 * $vertical-grid-unit
    top= 5 * $vertical-grid-unit
    p#logo
      background: url('/images/logo-droid-serif.png') no-repeat 0 4px
      width: 145px
      height: 87px
      float: right
      padding-right= $blueprint-grid-margin
      border-right: 1px solid #000
      margin-bottom= 2 * $vertical-grid-unit
      span
        display: none
    ul
      list-style-type: none
      margin: 0
      padding: 0
      clear: both
      text-align: right
      line-height: $basic-line-height
      font-size: $blueprint-font-size
      margin-bottom= 2 * $vertical-grid-unit
      a:link, a:active, a:visited, span
        border-right: 1px solid #CCC
        line-height: 0
        padding-right: $vertical-grid-unit
        padding-top: 4px
        padding-bottom: 4px
      a:hover
        border-right: 1px solid #222
      ul
        border: none
        margin-bottom: 0
        a
          &:link, &:active, &:visited, &:hover
            padding-right= 2 * $vertical-grid-unit
  #content
    +column(14, last)
    +prepend(5)
    #colophon
      padding= $vertical-grid-unit
      background-color: #555
      color: #FFF
      margin-bottom: $vertical-grid-unit
      p
        margin-bottom: 0
      a
        &:link, &:active, &:visited
          color: #CCC
          text-decoration: none
        &:hover
          color: #FFF
    #debug
    .pagination
      margin: $vertical-grid-unit 0
      .prev_page
      .next_page

.post
  .viewer
    overflow: hidden
    width: 100%
    height: 517px
    .slider
      width: 10000px
      p
        text-align: center
        margin-top: 0
        margin-bottom: 0
        margin-right: $blueprint-grid-margin
        +column(14, last)
        img
          margin: 0px auto
  .info
    +clearfix
    border-top: 1px solid #CCC
    border-bottom: 1px solid #CCC
    padding: $vertical-grid-unit 0
    margin-top: $vertical-grid-unit * 2
    margin-bottom: $vertical-grid-unit * 4
    .words
      +column(8)
      h2, p
        margin-top: 0
        margin-bottom: 0
        line-height: $basic-line-height
      h2
        font-size= $blueprint-font-size + 5
        margin-top: -5px
      p
    .thumbnails
      +column(6, last)
      p
        float: left 
        width: $thumb-image-width
        height: $thumb-image-height
        margin-right: $blueprint-grid-margin
        margin-bottom: $vertical-grid-unit
        margin-top: 0
        img
          cursor: pointer
          &:nth-child(3n)
            margin-right: 0

#lower-right-flame
  position: fixed
  z-index: -1
  bottom: 0
  left: 0
  background-color: #C00
  width: 188px
  height: 138px
  background: url('/images/corner-flame.png') no-repeat

.clear
  clear:both
  line-height: 0
