%h2 Contact me
%p 
  Phone: (314) 810-9760
  %br/
  Email: #{ link_to "brian@therealcaffeine.com", "mailto:brian@brianthicks.com"}
  %br/
  Twitter: #{link_to "@brianhicks", "http://www.twitter.com/brianhicks"}
