%h2 Philosophy of Design
%p I've made an HTML app detailing my thoughts on design. Currently it is available for iOs devices and Android 2.2 (Froyo) and above. It's especially awesome on the iPad, however.
%p= link_to "Get it here!", "/philosophy/read/"
