!!! html
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
    %title Carousel
    = stylesheet_link_tag "sencha-touch"
    = stylesheet_link_tag "compiled/read"
    = javascript_include_tag "sencha-touch.js"
    = javascript_include_tag "read.js"
  %body
    .entry.right.one
      Etiam eget felis tellus, ut varius nisl. Fusce tincidunt lorem in turpis sodales rutrum. Ut pretium arcu quis lectus ultricies sit amet pulvinar mi eleifend. Maecenas auctor, nulla nec auctor vulputate, nisi enim sollicitudin felis, accumsan consectetur justo metus in ligula. Cras tempor est et nunc porttitor vitae congue nisi bibendum. Vestibulum ac dolor at mauris consequat aliquet et quis mi. Donec odio est, accumsan vel euismod non, ullamcorper a dolor. In dapibus hendrerit egestas. Ut nulla arcu, scelerisque eu condimentum et, sagittis eu mi. Suspendisse nec est velit, ac tincidunt justo. Morbi eu lorem quam. 
      %blockquote.left.large
        This is a test block quote. It should even perhaps possibly be more than one line. Lorem ipsum dolor sit amet pro consetetur sit amet.
        %span.attribution
          Henry Ford
      Ut vehicula porta augue, at pharetra ligula fermentum eget. Cras dapibus eleifend velit, in dictum erat suscipit vitae. Aliquam consectetur lorem ornare neque dapibus accumsan. 
    .entry.left.two
      Donec varius risus a ipsum lacinia vel congue mi viverra. Sed nibh quam, vehicula eget pharetra vel, ultricies at turpis.
      %blockquote.right
        This is another test block quote. Obviously by a senior statesman or something. Hooray!
      Aenean pretium ipsum vel massa consequat quis egestas ipsum euismod. Ut porttitor placerat ante, suscipit ullamcorper libero interdum sed. Maecenas dictum aliquet ante, in posuere nibh vulputate id. Maecenas et condimentum dui. Phasellus sed dui tortor. Vivamus eleifend augue at risus luctus gravida non sit amet tellus. Curabitur tempor, orci sed adipiscing feugiat, odio felis sollicitudin elit, quis varius nunc est imperdiet nisl. Phasellus eu dui mi. Mauris orci sem, faucibus vel adipiscing a, tincidunt ac tortor. Aliquam erat volutpat. Fusce imperdiet imperdiet velit ut gravida. Nunc pretium posuere elit, quis ullamcorper ligula tincidunt at. 
    .entry.right.three
      Donec imperdiet aliquam est, vitae euismod enim dapibus ut. Sed aliquam, dolor nec ultricies rutrum, nisi augue condimentum urna, quis dictum magna ante vel ante. Aenean sodales iaculis ipsum, nec consectetur dui scelerisque sed. Cras pellentesque dolor a dui tempor convallis ut eget ante. In laoreet ullamcorper tempus. Nunc aliquet volutpat urna eu adipiscing. Pellentesque tristique tempus magna a sodales. Quisque posuere nisi vel est molestie laoreet. Pellentesque sed leo velit. Cras a turpis id tellus fringilla pharetra vulputate ut ligula. Donec ultricies nunc sit amet urna tempor et aliquet leo hendrerit. Sed et suscipit quam. In ac diam leo. Sed et tortor sed quam porttitor scelerisque vitae ut tellus. In vehicula massa eu lorem scelerisque sed facilisis odio luctus. In ut magna ante. Praesent sit amet est non nibh cursus hendrerit sed eget tellus. 
