!!! html
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
    %title Carousel
    = stylesheet_link_tag "sencha-touch"
    = stylesheet_link_tag "compiled/read"
    = javascript_include_tag "sencha-touch.js"
    = javascript_include_tag "read.js"
  %body
